<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AboutUs</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/megamenu-dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container"><button class="navbar-toggler" data-toggle="collapse"></button>  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Book Store</a>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Acerca de nosotros <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Acerca de nosotros</li>
                <li><a href="Suscription">Suscripcion</a></li>
                <li><a href="Benefits">Beneficios</a></li>
                <li><a href="Plans">Planes</a></li>
                <li><a href="Deliveries">Envios</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Más</li>
                <li><a href="FAQs">FAQs</a></li>
                <li><a href="TermsAndConditions">Terminos y Condiciones</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Trabaja con nosotros <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Proveedores</li>
                <li><a href="Providers">¿Cómo puedo formar parte del equipo de Proveedores?</a></li>
                <li><a href="Benefits">Beneficios</a></li>
                <li><a href="LogIn">Acceso</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Mensajeria</li>
                <li><a href="Delivers">¿Cómo puedo formar parte del equipo de Mensajeria?</a></li>
                <li><a href="Benefits">Beneficio</a></li>
                <li><a href="LogIn">Acceso</a></li>
                <li class="dropdown-header">Más</li>
                <li><a href="TermsAndConditions">Terminos y Condiciones</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="LogIn">Ingresar</a></li>
            <li><a href="SignUp">Mi cuenta</a></li>
            <li><a href="Car">Mis pedidos</a></li>
            <li class="divider"></li>
            <li><a href="index">Salir</a></li>
          </ul>
        </li>
        <li><a href="Car">Mi carrito (0)</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </nav></div>
</nav>
    <h1>Book Store&nbsp;<small> Acerca de Nosotros&nbsp;</small></h1>
    <p>Somos una plataforma de compras en linea dedicadas unica y exclusivamente a la venta de libros.</p>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
