<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>car</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Custom-Card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/megamenu-dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="card">
        <div class="card-header"><a class="btn header-arrow-btn" role="button" data-toggle="collapse" href="#detailed-view"><i class="fa fa-chevron-right"></i></a>  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index">Book Store</a>
	</div>

	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown mega-dropdown">
				<a href="index" class="dropdown-toggle" data-toggle="dropdown"> Acerca de nosotros <span class="caret"></span></a>
				<ul class="dropdown-menu mega-dropdown-menu">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Acerca de nosotros</li>
							<li><a href="#">Suscripcion</a></li>
                            <li><a href="#">Beneficios</a></li>
                            <li><a href="#">Planes</a></li>
							<li><a href="#">Envios</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Más</li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terminos y Condiciones</a></li>
						</ul>
					</li>
				</ul>
			</li>
            <li class="dropdown mega-dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">  Trabaja con nosotros <span class="caret"></span></a>
				<ul class="dropdown-menu mega-dropdown-menu">
					<li class="col-sm-3">
    					<ul>
							<li class="dropdown-header">Proveedores</li>
							<li><a href="#">¿Cómo puedo formar parte del equipo de Proveedores?</a></li>
                            <li><a href="#">Beneficios</a></li>
							<li><a href="#">Acceso</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Mensajeria</li>
                            <li><a href="#">¿Cómo puedo formar parte del equipo de Mensajeria?</a></li>
							<li><a href="#">Beneficio</a></li>
                            <li><a href="#">Acceso</a></li>
                            <li class="dropdown-header">Más</li>
                            <li><a href="#">Terminos y Condiciones</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Ingresar</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mis pedidos</a></li>
            <li class="divider"></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
        <li><a href="#">Mi carrito (0)</a></li>
      </ul>
	</div><!-- /.nav-collapse -->
  </nav><span>Mi carrito de compras</span>
            <div class="btn-group custom-btngrp" role="group"><button class="btn btn-outline-primary" type="button"><i class="fa fa-tasks"></i><span>Regresar a Productos</span></button><button class="btn btn-outline-danger" type="button"><i class="fa fa-trash"></i><span>Eliminar</span></button>
                <div class="dropdown btn-group no-arrow"
                    role="group"><button class="btn btn-outline-primary dropdown-toggle border-primary" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-h" data-bs-hover-animate="rubberBand"></i></button>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in"
                        role="menu"><a class="dropdown-item" role="presentation" href="#">Change Log</a><a class="dropdown-item" role="presentation" href="#">Duplicate</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">Action</a></div>
                </div>
            </div>
        </div>
        <div class="card-body collapse show" id="detailed-view">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Resumen de Compra</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">1 productos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1"></div>
                    <div class="tab-pane" role="tabpanel" id="tab-2"><span>No Record Found</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 label-col"><label class="col-form-label">Percy Jackson and the lightn...</label></div>
                <div class="col-md-3"><span>1</span></div>
                <div class="col"><span>$200.00</span></div>
            </div>
        </div>
    </div><form action="Delivery"><button class="btn btn-primary" type="submit">Proceder con el Pago e Información de Entrega</button></form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>
