<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Store</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Cards-v2-1.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Cards-v2.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/megamenu-dark-1.css">
    <link rel="stylesheet" href="assets/css/megamenu-dark.css">
    <link rel="stylesheet" href="assets/css/styles-1.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container"><button class="navbar-toggler" data-toggle="collapse"></button>  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Book Store</a>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Acerca de nosotros <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Acerca de nosotros</li>
                <li><a href="Suscription">Suscripcion</a></li>
                <li><a href="Benefits">Beneficios</a></li>
                <li><a href="Plans">Planes</a></li>
                <li><a href="Deliveries">Envios</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Más</li>
                <li><a href="FAQs">FAQs</a></li>
                <li><a href="TermsAndConditions">Terminos y Condiciones</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Trabaja con nosotros <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Proveedores</li>
                <li><a href="Providers">¿Cómo puedo formar parte del equipo de Proveedores?</a></li>
                <li><a href="Benefits">Beneficios</a></li>
                <li><a href="LogIn">Acceso</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Mensajeria</li>
                <li><a href="Delivers">¿Cómo puedo formar parte del equipo de Mensajeria?</a></li>
                <li><a href="Benefits">Beneficio</a></li>
                <li><a href="LogIn">Acceso</a></li>
                <li class="dropdown-header">Más</li>
                <li><a href="TermsAndConditions">Terminos y Condiciones</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="LogIn">Ingresar</a></li>
            <li><a href="SignUp">Mi cuenta</a></li>
            <li><a href="Car">Mis pedidos</a></li>
            <li class="divider"></li>
            <li><a href="index">Salir</a></li>
          </ul>
        </li>
        <li><a href="Car">Mi carrito (0)</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </nav></div>
</nav>
<div class="bootstrap_cards2">
<div class="container py-5">
    <!-- For Demo Purpose-->
    <header class="text-center mb-5">
        <h1 class="display-4 font-weight-bold">Book Store</h1>
    </header>


    <!-- First Row [Prosucts]-->
    <h2 class="font-weight-bold mb-2">Ficción</h2>
    <p class="font-italic text-muted mb-4">Tu busqueda de ficción ha muestra los siguientes resultados:</p>

    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="http://rickriordan.com/content/uploads/2016/03/PJ-Lightning-Thief-152x229.jpeg" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="ProductDetails" class="text-dark">Awesome product</a></h5>
                    <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="http://rickriordan.com/content/uploads/2016/03/flat-book-cover.png" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="ProductDetails" class="text-dark">Awesome product</a></h5>
                    <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="http://rickriordan.com/content/uploads/2016/03/Screen-Shot-2016-04-01-at-2.31.21-PM-152x229.png" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="ProductDetails" class="text-dark">Awesome product</a></h5>
                    <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="http://rickriordan.com/content/uploads/2016/03/Battle-of-Labyrinth-2D-152x229.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="ProductDetails" class="text-dark">Awesome product</a></h5>
                    <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Second Row [Team]-->
    <h2 class="font-weight-bold mb-2">Recomendaciones para ti</h2>
    <p class="font-italic text-muted mb-4">Aqui hay algunas búsquedas que podrían coincidir con las tuyas:</p>

    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="assets/img/testimonials-2.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Terror</h5>

                        <ul class="social mb-0 list-inline mt-3">
                            <button class="btn btn-secondary btn-block btn-lg" type="submit">Ver</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="assets/img/testimonials-1.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Fantasia</h5>
                        <ul class="social mb-0 list-inline mt-3">
                            <button class="btn btn-secondary btn-block btn-lg" type="submit">Ver</button>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="https://www.elsotano.com/imagenes_grandes/9786073/978607317672.JPG" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Relatos</h5>
                        <ul class="social mb-0 list-inline mt-3">
                            <button class="btn btn-secondary btn-block btn-lg" type="submit">Ver</button>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6d4JrbA2ZYWZv_oz36l1n7-oNIrvzxwK0dKdHq773thVVeE2-&usqp=CAU" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Stephen king</h5>
                        <ul class="social mb-0 list-inline mt-3">
                            <button class="btn btn-secondary btn-block btn-lg" type="submit" action="store">Ver</button>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/megamenu-dark.js"></script>
</body>

</html>
