<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Warehouse</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Cards-v2.css">
    <link rel="stylesheet" href="assets/css/megamenu-dark.css">
    <link rel="stylesheet" href="assets/css/styles-1.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container"><button class="navbar-toggler" data-toggle="collapse"></button>  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Book Store</a>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Acerca de nosotros <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Acerca de nosotros</li>
                <li><a href="Suscription">Suscripcion</a></li>
                <li><a href="Benefits">Beneficios</a></li>
                <li><a href="Plans">Planes</a></li>
                <li><a href="Deliveries">Envios</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Más</li>
                <li><a href="FAQs">FAQs</a></li>
                <li><a href="TermsAndConditions">Terminos y Condiciones</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Trabaja con nosotros <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Proveedores</li>
                <li><a href="Providers">¿Cómo puedo formar parte del equipo de Proveedores?</a></li>
                <li><a href="Benefits">Beneficios</a></li>
                <li><a href="LogIn">Acceso</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Mensajeria</li>
                <li><a href="Delivers">¿Cómo puedo formar parte del equipo de Mensajeria?</a></li>
                <li><a href="Benefits">Beneficio</a></li>
                <li><a href="LogIn">Acceso</a></li>
                <li class="dropdown-header">Más</li>
                <li><a href="TermsAndConditions">Terminos y Condiciones</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="LogIn">Ingresar</a></li>
            <li><a href="SignUp">Mi cuenta</a></li>
            <li><a href="Car">Mis pedidos</a></li>
            <li class="divider"></li>
            <li><a href="index">Salir</a></li>
          </ul>
        </li>
        <li><a href="Car">Mi carrito (0)</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </nav></div>
</nav>
    <div>
        <div class="container">
            <h2 class="display-4" style="font-size: 50px;">Listado Pedidos Pendientes</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 25px;">Productos &nbsp;&nbsp;</th>
                            <th class="text-center" style="font-size: 25px;">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="line-height: 60px;font-size: 20px;">Percy Jackson and the lightning thief</td>
                            <td><button class="btn btn-primary btn-block text-center d-block pull-right" type="button" style="height: 61px;background-color: #ff4000;"><i class="fas fa-clipboard-list" style="font-size: 36px;"></i></button></td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px;line-height: 60px;">El libro de los sucesos, eventos, hechos, casos, cosas...</td>
                            <td><button class="btn btn-primary btn-block text-center d-block pull-right" type="button" style="height: 61px;background-color: #ff4000;"><i class="fas fa-clipboard-list" style="font-size: 36px;"></i></button></td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px;line-height: 60px;">Las 5 personas que encontraras en el cielo</td>
                            <td class="text-left" style="padding: 11px;padding-right: 11px;padding-top: 12px;padding-left: 11px;"><button class="btn btn-primary btn-block text-center d-block pull-right" type="button" style="height: 61px;background-color: #ff4000;filter: blur(0px) brightness(100%) grayscale(0%);"><i class="fas fa-clipboard-list" style="font-size: 36px;"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <h2 class="display-4" style="font-size: 50px;">Listado Pedidos Enviados</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 25px;">Productos &nbsp;&nbsp;</th>
                            <th class="text-center" style="font-size: 25px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-size: 20px;line-height: 60px;">PMI ACP Exam Preparation 2nd Edition</td>
                            <td><button class="btn btn-primary active text-center d-block pull-right" type="button" style="height: 61px;background-color: #008000;"><label style="font-size: 35px;">&nbsp; &nbsp; Enviado</label></button></td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px;line-height: 60px;">The five dissfunctions of a team</td>
                            <td><button class="btn btn-primary active text-center d-block pull-right" type="button" style="height: 61px;background-color: #008000;"><label style="font-size: 35px;">&nbsp; &nbsp; Enviado</label></button></td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px;line-height: 60px;">JRR Tolkien - Box set&nbsp;</td>
                            <td class="text-left" style="padding: 11px;padding-right: 11px;padding-top: 12px;padding-left: 11px;"><button class="btn btn-primary active text-center d-block pull-right" type="button" style="height: 61px;background-color: #008000;"><label style="font-size: 35px;">&nbsp; &nbsp; Enviado</label></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
